<% include partials/header.ejs %>
<h1 id="top">Index</h1>
<div>
    <p>
        Welcome to the home of the 'comprehensive' programming handbook.
        The handbook currently contains pages on :
    </p>
    <ul>
        <li><a href="basics.html">The Basics - or common features</a></li>
        <li><a href="/web">Web Development</a></li>
        <li><a href="javascript.html">JavaScript</a></li>
        <li><a href="mysql.html">mySQL</a></li>
        <li><a href="java.html">Java</a></li>
        <li><a href="python.html">Python</a></li>
    </ul>
</div>

<% include partials/footer.ejs%>