<% include partials/header.ejs %>
<div class="container">
    <h1>Web</h1>
    <button class="btn btn-warning">Another button</button>
    <a class="btn btn-warning" href="#">A Sample Button</a>
</div>
<% include partials/footer.ejs %>